<div id="<%= dom_id friend %>">
  <p>
    <strong>Username:</strong>
    <%= friend.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= friend.bio %>
  </p>

</div>
